@import "../../variables.scss";

.errorPage {
  background-image: url("../../images/bgb.jpg");

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .gomenasai {
    @include fuentesY(90px, transparent, italic, 800);
    -webkit-text-stroke: 4px #ff8000;
  }

  .errorMessage {
    @include fuentesY(32px, black, normal, 700);
    letter-spacing: 2px;
  }

  .redirecting {
    @include fuentesY(19px, black, normal, 700);
  }
}
