@import "../../variables.scss";

.footBar {
  width: 100%;
  height: 20rem;

  background-image: url("../../images/bgb.jpg");

  display: flex;
  justify-content: center;

  .footWidth {
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .footNav {
      width: 200px;
      height: auto;

      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;

        list-style: none;

        line-height: 52px;

        li {
          @include fuentesY(23px, $colorW, italic, 600);

          a {
            color: $colorW;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              color: $colorOr;
            }
          }
        }
      }
    }

    .footInfo {
      width: 35rem;
      height: auto;

      padding-right: 40px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .footTipo {
        height: 50%;

        display: flex;
        align-items: flex-end;

        img {
          width: 35rem;
          height: 130px;
        }
      }

      .footNews {
        width: 35rem;
        height: 50%;

        padding-top: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          padding-bottom: 10px;

          @include fuentesY(30px, $colorW, normal, 600);
          text-align: center;
        }

        form {
          width: 100%;

          position: relative;

          display: flex;
          flex-direction: column-reverse;
          align-items: flex-start;

          input {
            width: 93%;

            margin: 0 0 0 5px;
            margin-bottom: 30px;
            padding: 7px 5px;

            @include fuentesYI(20px, transparent, normal, 500);

            background: transparent;
            outline: none;
            border: none;
            border-bottom: 1px solid $colorW;

            &:focus ~ label {
              top: -18px;
              left: 5px;

              font-size: 16px;
              color: $colorOr;
            }

            &:focus-visible {
              @include fuentesYI(20px, $colorW, normal, 500);
            }
          }

          label {
            position: absolute;
            top: 5px;
            left: 10px;

            @include fuentesY(20px, $colorW, normal, 600);

            transition: 0.5s;

            pointer-events: none;
          }

          button {
            position: absolute;
            top: 11px;
            right: 0;

            font-size: 28px;
            color: $colorW;

            background-color: transparent;
            outline: none;
            border: none;

            cursor: pointer;

            transition: 0.3s;

            &:hover {
              color: $colorOr;
            }
          }
        }
      }
    }
  }
}
