$colorW: #f7f7f7;
$colorDB: #373e44;
$colorOr: #ff8000;

@mixin fuentes($size, $color, $style, $weight) {
  font-family: "Ysabeau";
  font-size: $size;
  color: $color;
  font-style: $style;
  font-weight: $weight;
}
